html {
    background-color: #062134;
}

body {
    font-family: Verdana, Arial, sans-serif;
}

#page {
    min-width: 900px;
    background-color: #062134;
}

#top-bar {
    width: auto;
    background-color: #FFFFFF;
    color: #000000;
    height: 20px;
    padding-top: 6px;
    padding-right: 10px;
    font-size: 0.8em;
}

#top-bar a {
    color: #000000;
}

#top-bar a:hover {
    color: #444444;
    text-decoration: none;
}

#top-bar .logininfo {
    float:right;
}

#top-bar .langmenu {
    position: absolute;
    left: 10px;
    top: 4px;
}

#page-header {
    background-color: transparent;
    background-image: url([[pix:theme|title]]);
    background-repeat: no-repeat;
    background-position: center left;
    color: #FFFFFF;
    border-top: none;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    min-height: 40px;
    position: relative;
    padding-top: 12px;
}

#page-header .headermain {
    display: none;
}

.headermenu {
    margin: 0;
}

#page-content-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#page-content {
    background-color: #FFFFFF;
    color: #000000;
}

#page-content .region-content {
    padding-left: 10px;
    padding-right: 20px;
}

.generalbox {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

a {
    color: #000000;
}

a:hover {
    color: #444444;
}

#page-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #062134;
    color: #FFFFFF;
}

#page-footer.clearfix:after {
    content: normal;
}

#page-footer .homelink {
    margin:0;
}

#page-footer a {
    color: #FFFFFF;
}

#page-footer a:hover {
    color: #d6d6d6;
    text-decoration: none;
}

#page-footer .logininfo {
    display: none;
}

.continuebutton {
    text-align: center;
}

/* ---------------- Theme splash page from lang file ---------------- */

.theme_screenshot h2 {
    font-size: 2em;
    margin: 0;
}

.theme_screenshot {
    float: left;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
}

.theme_screenshot img {
    max-width: 300px;
    border: 2px solid black;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/** Redirect page settings (like the page after posting to a forum) **/

.redirectmessage {
    text-align: center;
}
.continuebutton {
    text-align: center;
}

/* The div for the whole redirect page */
.pagelayout-redirect #page {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 100px;
    padding-top: 25px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
}